body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

/* HEADER */
header {
    padding: 60px;
    font-size: 24px;
}

/* GLASS FORM */
.glass {
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.1);
    padding: 30px;
    width: 320px;
    margin: auto;
    border-radius: 20px;
}

/* INPUT */
input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #00c6ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* TABLE */
.table-box {
    width: 90%;
    margin: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background: #00c6ff;
    color: black;
}

td, th {
    padding: 10px;
    border: 1px solid white;
}